<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div class="jumbotron">
  <h1><%= @products %></h1>
  <h3>Total Products</h3>
  <%= link_to "See all products", admin_products_path, class: "btn btn-primary btn-lg"%>
</div>

<div class="jumbotron">
  <h1><%= @categories %></h1>
  <h3>Total Categories</h3>
  <%= link_to "See all categories", admin_categories_path, class: "btn btn-primary btn-lg"%>
</div>